html {
    scroll-behavior: smooth;
}

body {
    font-family:Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
    color: black;
    max-width: 1200px;
    margin: 0 auto;
}

header h1 {
    margin: 21px 0 25px 0;
    padding-left: 30px;
    text-align: left;
}

.flex {
    display: flex;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu li {
    padding: 15px;
    border: solid 1px #BBBBBB;
    background-color: #EEEEEE;
}

.me {
    width: 800px;
    text-align: center;
    margin: 0 auto;
}

.text01 {
    margin: 0 auto;
    width: 500px;
}

.face {
    width: 130px;
    height: 150px;
}

.profile {
    border: solid 1px #BBBBBB;
    background-color: #EEEEEE;
    padding: 20px;
}

#self {
    border: solid 1px #BBBBBB;
    background-color: #EEEEEE;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#career {
    border: solid 1px #BBBBBB;
    background-color: #EEEEEE;
    padding: 20px;
    margin-bottom: 30px;

}

#work {
    border: solid 1px #BBBBBB;
    background-color: #EEEEEE;
    padding: 20px;
    margin-bottom: 30px;
}

.carousel {
    width: 500px;
    height: 324px;
    margin: 0 auto;
}

#hobby {
    border: solid 1px #BBBBBB;
    background-color: #EEEEEE;
    padding: 20px;
    margin-bottom: 30px;
}